.contact-wrapper {
    background-color: #152835 !important;
    height: 100vh;
    padding: 30px;
    position: inherit;
  }
  .contact-container {
    background-color: #152835 !important;
    padding: 30px;
    color: #9E2A2B;
    width: 100%;
    margin-top: 0px;
  }
  .contact-text {
    color: #E09F3E;
    font-style: italic;
    font-weight: 600;
    font-display: auto;
  }
  .contact-title {
    padding: 15px;
    font-size: x-large;
    color: #FEF9EF;
  }
  .contact-submit {
    color: #FEF9EF !important;
    background-color: #FE6D73 !important;
    border-color: #FEF9EF !important;
    margin-top: 20px;
    cursor: pointer;
    float: right;
  }
  
  #contact-form {
    background-color: #152835 !important;
  }
  
  .form-control {
    background-color: #FEF9EF !important;
  }
  
  @media screen and (max-width: 768px) {
    .contact-container {
      flex-direction: column;
      text-align: center;
      max-width: 90%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .contact-container {
      flex-direction: column;
      text-align: center;
      max-width: 90%;
    }
  }
  
  @media screen and (max-width: 375px) {
    .contact-container {
      flex-direction: column;
      text-align: center;
      max-width: 80%;
      max-height: 50%;
      padding: 0;
      
    }
    .contact-text {
      display: none;
    }
    .contact-title{
      font-size: 18px;
    }
  }