.header {
    display: flex;
    height: 100px;
    color: #FEF9EF;
    background-color: #227C9D;
    font-size: 20px;
  }
  
  .header-name {
    font-weight: bolder;
    margin: 3rem;
  }
  
  .nav-link {
    color: #FEF9EF !important;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .navbar-nav :hover{
    color: #FEF9EF;
    transform: scale(1.05);
    box-shadow: 0 3px 3px 3px;
    border-radius: 0.2rem;
  }
  
  .navbar-nav :active {
    color: #17C3B2 !important;
    transform: scale(1.05);
    box-shadow: 0 3px 3px 3px;
  }
  
  @media screen and (max-width: 768px) {
    .nav-link {
      margin: 0;
      padding: 0;
    }
  }
  @media screen and (max-width: 480px) {
    .header {
      font-size: 14px;
      align-items: center;
      justify-content: center;
    }
    .header-name {
      display: none;
    }
    .nav-link {
      margin: 0;
      padding: 0;
    }
  }
  
  @media screen and (max-width: 375px) {
    .header {
      font-size: 14px;
    }
    .header-name {
      display: none;
    }
  }